/* Start Main Rules */
.container {
    width:1170px;
    margin:auto
}

.clearfix {
    clear: both;
}

.active {
    color: #3FCA89;
}
/* End Main Rules */



/* ------------------------------------------ Start Main Header ------------------------------------------ */

/* Slider */

.header-main .slider {
    background-color: #EEF2F5;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
    height: 600px;
}

.header-main .slider .first-box {
    width: 100%
    height: 90px;
    overflow: hidden;
}

.header-main .slider .first-box div {
    float: left;
}

/* first-box box-one */
.header-main .slider .first-box .box-one {
    width: 55%;
    height: 100%;
}

.header-main .slider .first-box .box-one h2 {
    margin-left: 30px;
    font-size: 2em;
}

.header-main .slider .first-box .box-one h2 a {
    text-decoration: none;
    color: #555555;
}

/* first-box box-two */
.header-main .slider .first-box .box-two {
    width: 35%;
    height: 95%;
    overflow: hidden;
}

.header-main .slider .first-box .box-two nav {
    margin: 15px auto;
}

.header-main .slider .first-box .box-two nav ul {
    overflow: hidden;
    padding-left: 90px;
}

.header-main .slider .first-box .box-two nav ul li {
    float: left;
    list-style: none;
    padding: 15px;
}

.header-main .slider .first-box .box-two nav ul li a {
    text-decoration: none;
    color: #555555;
}

.header-main .slider .first-box .box-two nav ul li a:hover {
    color: #3FCA89;
}

/* first-box box-three */
.header-main .slider .first-box .box-three {
    width: 10%;
    height: 100%;
}

.header-main .slider .first-box .box-three button {
    margin: 25px auto;
    background: none;
    padding: 5px 25px 5px 25px;
    border: 1px solid;
}

.header-main .slider .first-box .box-three button:hover {
    background-color: #3FCA89;
    color: #FFF;
    border: #3FCA89;
}

/* second-box */

.header-main .slider .second-box {
    width: 60%;
    height: 40%;
    overflow: hidden;
    margin-left: 100px;
}

/* second-box box-one */

.header-main .slider .second-box .box-one {
     width: 90%;
}

.header-main .slider .second-box .box-one h1 {
    width: 70%;
}

/* second-box box-two */

.header-main .slider .second-box .box-two {
    margin-bottom: 20px;
}

.header-main .slider .second-box .box-two input {
    height: 40px;
    width: 66%;
}

.header-main .slider .second-box .box-two button {
    background-color: #3FCA89;
    height: 45px;
    border: 2px solid #3FCA89;
    padding: 4px 20px 4px 20px;
    margin-left: -4px;
    color: #FFF;
}
/* second-box box-three */
.header-main .slider .second-box .box-three span {
    font-weight:bold;
}

.header-main .slider .second-box .box-three button {
    background: none;
    padding: 4px 10px 4px 10px;
    border: 1px solid #888;
}



/* Navbar */
.header-main .nav {
}

.header-main  .nav .first-box nav ul {
    overflow: hidden;
    padding-left: 15%;
    position: center;
}

.header-main .nav .first-box nav ul li {
    color: #999;
    text-decoration: none;
    font-size: 20px;
    list-style: none;
    float: left;
    padding-left: 40px; 
    font-weight: bold;
}

.header-main hr {
    margin-top: 0;
}

/* ------------------------------------------ End Main Header ------------------------------------------ */

/* -------------------------------- Start Popular Professional Services -------------------------------- */

.body .popular {
    margin: 100px 0 100px 20px;
}

.body .popular .main-div h2 {
    font-size: 200%;
    color: #303030;
}

.body .popular .main-div .box-one {
    overflow: hidden;
    padding: 0 0 0 20px;
}

.body .popular ul {
    padding: 0 0 0 0;
    list-style: none;
}

.body .popular ul li {
    display: inline-block;
    padding-right: 10px;
}

.body .popular ul li img {
    width: 220px;
    height: 300px;
}

/* -------------------------------- End Popular Professional Services ---------------------------------- */

/* -------------------- Start Start Get Work Done Faster On Fiverr, With Confidence -------------------- */
.get-work {
    
}

.get-work .box-one,
.get-work .box-two {
    width: 50%;
    float: left;
}

.get-work .box-two img {
    width: 100%;
}

/* -------------------- Start Start Get Work Done Faster On Fiverr, With Confidence -------------------- */

/* --------------------------------- Start Explore The Marketplace ------------------------------------- */

.body .explore {
    padding: 20px;
    overflow: hidden;
}

.body .explore div h2 {
    
}

.body .explore div ul {
    list-style: none;
    overflow: hidden;
    padding-left: 0;
}

.body .explore div ul li {
    padding: 10px 60px 10px 60px;
    width: 155px;
    text-align: center;
    float: left;
}

.body .explore div ul li img {
    
}

.body .explore div ul li p a {
    text-decoration: none;
    color: #555555;
}

/* --------------------------------- End Explore The Marketplace ------------------------------------- */

/* ---------------- Start Get Inspired With Projects Made By Our Freelancers ----------------- */

.body .get-inspired {
    padding: 20px;
    margin-bottom: 40px;
}

.body .get-inspired div {
    overflow: hidden;
}

.body .get-inspired div h2 {
    margin-bottom: 40px;
}

.body .get-inspired div ul {
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    
}

.body .get-inspired div ul li {
    float: left;
    margin-right: 30px;
}

/* ---------------- End Get Inspired With Projects Made By Our Freelancers ------------------- */
/* --------------------------------------- Start Chef ---------------------------------------- */

.body .chef {
    padding: 20px;
    overflow: hidden;
}

.body .chef .chef-work {
    overflow: hidden;
}

.body .chef .chef-work div {
    float: left;
    width: 49%;
}

.body .chef .chef-work .box-one {
}

.body .chef .chef-work .box-two {
    height: 400px;
}

.body .chef .chef-work .box-two q {
    display: block;
    padding: 20% 20px 5px 20px;
    width: 50%;
    font-size: 1.2em;
    font-weight: bold;
    color: #555555;
}

.body .chef .chef-work .box-two p {
    padding: 0 20px 20px 20px;
    color: #555555;
}
/* --------------------------------------- End Chef ------------------------------------------ */
/* -------------------------------------------- Start Pro -------------------------------------------- */

.body .pro {
}

.body .pro div {
    background-image: url("../images/background/pro.png");
    overflow: hidden;
    text-align: left;
    color: #FFF;
    margin: 40px 20px 40px 20px;
    height: 300px;
}

.body .pro div span {
    display: block;
    margin: 80px 40px 10px 40px;
}

.body .pro div h2 {
    width: 35%;
    margin: 20px 40px 10px 40px;
}

.body .pro div button {
    margin: 10px 40px 40px 40px;
    border-color: #1FD0B6;
    color: #1FD0B6;
    padding: 5px 10px 5px 10px;
    background: none;
    font-size: 1.3em;
}
/* -------------------------------------------- End Pro ---------------------------------------------- */
/* ------------------------ Start Give Your Business The Right Tools  -------------------------------- */

.body .right-tool {
    padding: 20px;
    overflow: hidden;
}

.body .right-tool div {
    float: left;
    width: 50%;
}

.body .right-tool div ul li p {
    width: 90%;
}

/* -------------------------- End Give Your Business The Right Tools  -------------------------------- */
/* ------------------------------------- Start Fiverr Guides ----------------------------------------- */

.body .fiverr-guides {
    padding: 20px;
    overflow: hidden;
}

.body .fiverr-guides div {
    overflow: hidden;
}

.body .fiverr-guides div ul {
    overflow: hidden;
    padding-left: 0;
}

.body .fiverr-guides div ul li {
    list-style: none;
    float: left;
    padding-right: 20px;
    
}

.body .fiverr-guides div ul li img {
    width:413px;
    height: 209px;
}

/* --------------------------------------- End Fiverr Guides ----------------------------------------- */
/* -------------------- Start Find Freelance Services For Your Business Today ------------------------ */

.body .find-freelance {
    padding: 20px 20px 80px 20px;
}

.body .find-freelance div {
    background-image: url("../images/background/find.png");
    overflow: hidden;
    text-align: center;
    margin: 40px 20px 40px 20px;
    height: 280px;
}

.body .find-freelance div h2 {
    margin-top: 80px;
}

.find-freelance div p {
    
}

.body .find-freelance div button {
    background-color: #3FCA89;
    color: #FFF;
    padding: 15px 25px 15px 25px;
    border: none;
    margin-top: 10px;
}

.body .find-freelance div a {
    text-decoration: none;
}

/* -------------------- End Find Freelance Services For Your Business Today -------------------------- */
/* ------------------------------------------ Start Footer -------------------------------------------------- */

.footer-main {
    background-color: #FAFAFA;
    overflow: hidden;
}

.footer-main .hr-footer-one {
    margin-top: 0;
    margin-bottom: 15px;
}

/* Part One */

.footer-main .part-one {
    padding: 0 0 10px 20px; 
}

.footer-main .part-one h2 {
    color: #777777;
    padding: 5px;
    margin: 0 0 -8px 0;
    font-size: 200%;
    font-weight: bold;
}

.footer-main .part-one h2 .trade-mark {
    font-size: 10px;
    top: -1.5em;
}

.footer-main .part-one h5 {
    color: #777777;
    padding: 5px;
    margin-top: 0;
    margin-bottom:0;
    font-weight: normal;
}

.footer-main .part-one h5 a {
    color: #989898;
    text-decoration: none;
    font-size: 15px;
}

.footer-main .part-one h5 a:hover {
    text-decoration-line: underline;
}

.footer-main .part-one .copy-right {
    color: #C6C6C6;
}

/* Part Two */

.footer-main .part-two {
    padding: 0 0 20px 20px;
    display: inline-block;
}

.footer-main .part-two div {
    float: left;
    margin: 0 65px 10px 5px;
}

.footer-main .part-two h3 {
    color: #555555;
    
}

.footer-main .part-two ul {
    list-style: none;
    padding: 0;
}

.footer-main .part-two ul li {
    line-height: 30px;
}

.footer-main .part-two ul li a {
    color: #7F7F7F;
    text-decoration: none;
}

.footer-main .part-two ul li a:hover {
    text-decoration-line: underline;
}

/* Part Three */

.footer-main .part-three .hr-footer-two {
    margin: 8px 15px 8px 0;
}

.footer-main .part-three {
    padding: 0 0 20px 20px;
    
}

.footer-main .part-three ul {
    padding: 0;   
}

.footer-main .part-three ul li {
    display: inline-block;
    padding-right: 10px;
}

/* ------------------------------------------ End Footer ------------------------------------------ */

/* Start Framework */

.float-left {float: left}


/* End Framework */

