/* 
BEM — Block Element Modifier 
http://getbem.com/
*/

/* Start Main Rules */
.container {width: 1170px;margin:auto;}

.clearfix {clear: both}

.active {color: #3FCA89}
/* End Main Rules */

/* ---------------------------------------------- Start Index -------------------------------------------------*/
/* ------------------------------------------ Start Main Header ------------------------------------------ */

/* Slider */

.indx_hdr .slider {
    background-color: #EEF2F5;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
    height: 600px;
}

.indx_hdr .slider .first-box {
    width: 100%
    height: 90px;
    overflow: hidden;
}

.indx_hdr .slider .first-box div {
    float: left;
}

/* first-box box-one */
.indx_hdr .slider .first-box .box-one {
    width: 55%;
    height: 100%;
}

.indx_hdr .slider .first-box .box-one h2 {
    margin-left: 30px;
    font-size: 2em;
}

.indx_hdr .slider .first-box .box-one h2 a {
    text-decoration: none;
    color: #555555;
}

/* first-box box-two */
.indx_hdr .slider .first-box .box-two {
    width: 35%;
    height: 95%;
    overflow: hidden;
}

.indx_hdr .slider .first-box .box-two nav {
    margin: 15px auto;
}

.indx_hdr .slider .first-box .box-two nav ul {
    overflow: hidden;
    padding-left: 90px;
}

.indx_hdr .slider .first-box .box-two nav ul li {
    float: left;
    list-style: none;
    padding: 15px;
}

.indx_hdr .slider .first-box .box-two nav ul li a {
    text-decoration: none;
    color: #555555;
}

.indx_hdr .slider .first-box .box-two nav ul li a:hover {
    color: #3FCA89;
}

/* first-box box-three */
.indx_hdr .slider .first-box .box-three {
    width: 10%;
    height: 100%;
}

.indx_hdr .slider .first-box .box-three button {
    margin: 25px auto;
    background: none;
    padding: 5px 25px 5px 25px;
    border: 1px solid;
}

.indx_hdr .slider .first-box .box-three button:hover {
    background-color: #3FCA89;
    color: #FFF;
    border: #3FCA89;
}

/* second-box */

.indx_hdr .slider .second-box {
    width: 60%;
    height: 40%;
    overflow: hidden;
    margin-left: 100px;
}

/* second-box box-one */

.indx_hdr .slider .second-box .box-one {
     width: 90%;
}

.indx_hdr .slider .second-box .box-one h1 {
    width: 70%;
}

/* second-box box-two */

.indx_hdr .slider .second-box .box-two {
    margin-bottom: 20px;
}

.indx_hdr .slider .second-box .box-two input {
    height: 40px;
    width: 66%;
}

.indx_hdr .slider .second-box .box-two button {
    background-color: #3FCA89;
    height: 45px;
    border: 2px solid #3FCA89;
    padding: 4px 20px 4px 20px;
    margin-left: -4px;
    color: #FFF;
}
/* second-box box-three */
.indx_hdr .slider .second-box .box-three span {
    font-weight:bold;
}

.indx_hdr .slider .second-box .box-three button {
    background: none;
    padding: 4px 10px 4px 10px;
    border: 1px solid #888;
}



/* Navbar */
.indx_hdr .nav {
}

.indx_hdr  .nav .first-box nav ul {
    overflow: hidden;
    padding-left: 15%;
    position: center;
}

.indx_hdr .nav .first-box nav ul li {
    color: #999;
    text-decoration: none;
    font-size: 20px;
    list-style: none;
    float: left;
    padding-left: 40px; 
    font-weight: bold;
}

.indx_hdr hr {
    margin-top: 0;
}

/* ------------------------------------------ End Main Header ------------------------------------------ */

/* -------------------------------- Start Popular Professional Services -------------------------------- */

.body .popular {
    margin: 100px 0 100px 20px;
}

.body .popular .main-div h2 {
    font-size: 200%;
    color: #303030;
}

.body .popular .main-div .box-one {
    overflow: hidden;
    padding: 0 0 0 20px;
}

.body .popular ul {
    padding: 0 0 0 0;
    list-style: none;
}

.body .popular ul li {
    display: inline-block;
    padding-right: 10px;
}

.body .popular ul li img {
    width: 220px;
    height: 300px;
}

/* -------------------------------- End Popular Professional Services ---------------------------------- */

/* -------------------- Start Start Get Work Done Faster On Fiverr, With Confidence -------------------- */
.get-work {
    
}

.get-work .box-one,
.get-work .box-two {
    width: 50%;
    float: left;
}

.get-work .box-two img {
    width: 100%;
}

.get-work .box-one nav ul li p {
    width: 90%;
}

/* -------------------- Start Start Get Work Done Faster On Fiverr, With Confidence -------------------- */

/* --------------------------------- Start Explore The Marketplace ------------------------------------- */

.body .explore {
    padding: 20px;
}

.body .explore div h2 {
    
}

.body .explore div ul {
    list-style: none;
    overflow: hidden;
    padding-left: 10px;
}

.body .explore div ul li {
    padding: 10px 20px 10px 100px;
    width: 155px;
    text-align: center;
    float: left;
}

.body .explore div ul li img {
    
}

.body .explore div ul li p a {
    text-decoration: none;
    color: #555555;
}

/* --------------------------------- End Explore The Marketplace ------------------------------------- */

/* ---------------- Start Get Inspired With Projects Made By Our Freelancers ----------------- */

.body .get-inspired {
    padding: 20px;
    margin-bottom: 40px;
}

.body .get-inspired div {
    overflow: hidden;
}

.body .get-inspired div h2 {
    margin-bottom: 40px;
}

.body .get-inspired div ul {
    list-style: none;
    padding-left: 0;
    overflow: hidden;
}

.body .get-inspired div ul li {
    float: left;
    width: 25%;
}

.body .get-inspired div ul li img {
    width: 90%;
    height: 90%;
}

/* ---------------- End Get Inspired With Projects Made By Our Freelancers ------------------- */
/* --------------------------------------- Start Chef ---------------------------------------- */

.body .chef {
    padding: 20px;
    overflow: hidden;
}

.body .chef .chef-work {
    overflow: hidden;
}

.body .chef .chef-work div {
    float: left;
    width: 49%;
}

.body .chef .chef-work .box-one {
}

.body .chef .chef-work .box-two {
    height: 400px;
}

.body .chef .chef-work .box-two q {
    display: block;
    padding: 20% 20px 5px 20px;
    width: 50%;
    font-size: 1.2em;
    font-weight: bold;
    color: #555555;
}

.body .chef .chef-work .box-two p {
    padding: 0 20px 20px 20px;
    color: #555555;
}
/* --------------------------------------- End Chef ------------------------------------------ */
/* -------------------------------------------- Start Pro -------------------------------------------- */

.body .pro {
}

.body .pro div {
    background-image: url("../images/background/pro.png");
    overflow: hidden;
    text-align: left;
    color: #FFF;
    margin: 40px 20px 40px 20px;
    height: 300px;
}

.body .pro div span {
    display: block;
    margin: 80px 40px 10px 40px;
}

.body .pro div h2 {
    width: 35%;
    margin: 20px 40px 10px 40px;
}

.body .pro div button {
    margin: 10px 40px 40px 40px;
    border-color: #1FD0B6;
    color: #1FD0B6;
    padding: 5px 10px 5px 10px;
    background: none;
    font-size: 1.3em;
}
/* -------------------------------------------- End Pro ---------------------------------------------- */
/* ------------------------ Start Give Your Business The Right Tools  -------------------------------- */

.body .right-tool {
    padding: 20px;
    overflow: hidden;
}

.body .right-tool div {
    float: left;
    width: 50%;
}

.body .right-tool div ul li p {
    width: 90%;
}

/* -------------------------- End Give Your Business The Right Tools  -------------------------------- */
/* ------------------------------------- Start Fiverr Guides ----------------------------------------- */

.body .fiverr-guides {
    padding: 20px;
    overflow: hidden;
}

.body .fiverr-guides div {
    overflow: hidden;
}

.body .fiverr-guides div ul {
    overflow: hidden;
    padding-left: 0;
}

.body .fiverr-guides div ul li {
    list-style: none;
    float: left;
    padding-right: 20px;
    
}

.body .fiverr-guides div ul li img {
    width:413px;
    height: 209px;
}

/* --------------------------------------- End Fiverr Guides ----------------------------------------- */
/* -------------------- Start Find Freelance Services For Your Business Today ------------------------ */

.body .find-freelance {
    padding: 20px 20px 80px 20px;
}

.body .find-freelance div {
    background-image: url("../images/background/find.png");
    overflow: hidden;
    text-align: center;
    margin: 40px 20px 40px 20px;
    height: 280px;
}

.body .find-freelance div h2 {
    margin-top: 80px;
}

.find-freelance div p {
    
}

.body .find-freelance div button {
    background-color: #3FCA89;
    color: #FFF;
    padding: 15px 25px 15px 25px;
    border: none;
    margin-top: 10px;
}

.body .find-freelance div a {
    text-decoration: none;
}

/* -------------------- End Find Freelance Services For Your Business Today -------------------------- */
/* ------------------------------------------ Start Footer -------------------------------------------------- */

.footer-main {
    background-color: #FAFAFA;
    overflow: hidden;
}

.footer-main .hr-footer-one {
    margin-top: 0;
    margin-bottom: 15px;
}

/* Part One */

.footer-main .part-one {
    padding: 0 0 10px 20px; 
}

.footer-main .part-one h2 {
    color: #777777;
    padding: 5px;
    margin: 0 0 -8px 0;
    font-size: 200%;
    font-weight: bold;
}

.footer-main .part-one h2 .trade-mark {
    font-size: 10px;
    top: -1.5em;
}

.footer-main .part-one h5 {
    color: #777777;
    padding: 5px;
    margin-top: 0;
    margin-bottom:0;
    font-weight: normal;
}

.footer-main .part-one h5 a {
    color: #989898;
    text-decoration: none;
    font-size: 15px;
}

.footer-main .part-one h5 a:hover {
    text-decoration-line: underline;
}

.footer-main .part-one .copy-right {
    color: #C6C6C6;
}

/* Part Two */

.footer-main .part-two {
    padding: 0 0 20px 20px;
    display: inline-block;
}

.footer-main .part-two div {
    float: left;
    margin: 0 65px 10px 5px;
}

.footer-main .part-two h3 {
    color: #555555;
    
}

.footer-main .part-two ul {
    list-style: none;
    padding: 0;
}

.footer-main .part-two ul li {
    line-height: 30px;
}

.footer-main .part-two ul li a {
    color: #7F7F7F;
    text-decoration: none;
}

.footer-main .part-two ul li a:hover {
    text-decoration-line: underline;
}

/* Part Three */

.footer-main .part-three .hr-footer-two {
    margin: 8px 15px 8px 0;
}

.footer-main .part-three {
    padding: 0 0 20px 20px;
    
}

.footer-main .part-three ul {
    padding: 0;   
}

.footer-main .part-three ul li {
    display: inline-block;
    padding-right: 10px;
}
/* Start Framework */

.float-left {float: left}


/* End Framework */
/* ------------------------------------------ End Footer ------------------------------------------ */
/* ---------------------------------------------- End Index -------------------------------------------------*/
/* ------------------------------------------- Start Home Page ------------------------------------------------*/
/*  Start Navbar  */
.hdr {
}
.hdr_div {
    overflow: hidden;
}

.hdr_hr {
    display: block;
    height: 1px;
    margin: -5px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
}

.hdr_div_div {
    overflow: hidden;
    float: left;
}

.hdr_div_div:first-of-type {
    width: 10%;
}

.hdr_div_div:nth-child(2) {
    margin-top: 25px;
}

.hdr_div_div:nth-child(3) {
    padding-right: 20px;
    padding-left: 145px;
}

.hdr_div_div:last-of-type {
    margin-top: 25px;
}

.hdr_div_div_h1 {}
.hdr_div_div_input { 
    width: 305px;
    height: 26px;
}

.hdr_div_div_btn {
    margin-left: -5px;
    padding: 7px 15px 7px 15px;
    background-color: #3FCA89;
    color: #FFF;
    border: 1px solid;
    border-top-right-radius: 5px; /* CSS3 */
    border-bottom-right-radius: 5px; /* CSS3 */
}

.hdr_div_div_btn_spn {
    font-weight: bold;
}

.hdr_div_div_nav {
    overflow: hidden;
}

.hdr_div_div_nav_ul {
    overflow: hidden;
    padding-left: 0;
}

.hdr_div_div_nav_ul_li {
    float: left;
    list-style: none;
    padding-left: 20px;
    padding-top: 20px;
}

.hdr_div_div_nav_ul_li_a {
    text-decoration: none;
    color: #555;
}

.hdr_div_div_nav_ul_li_a:hover {
    color: #999;
}

.hdr_div_div_nav_ul_li_a_spn{
    color: #94E9F5;
}

.hdr_div_div_nav_ul_li_a_spn:hover {
    color: #080;
}

.hdr_div_div_img {
    border-radius: 50%;
    width: 35px;
}

.hdr_div_nav {
    overflow: hidden;
}

.hdr_div_nav_ul {
    overflow: hidden;
    padding-left: 0;
}

.hdr_div_nav_ul_li {
    float: left;
    list-style: none;
    padding-right: 35px;
}

.hdr_div_nav_ul_li_a {
    display:flex;
    text-decoration: none;
    color: #555;
}

.hdr_div_nav_ul_li_a:hover {
    text-decoration: underline;
}

.hdr_div_nav_ul_li_hr {
    margin-bottom: 0px;
    color: #080;
    display: none;           /* Temprory */
}

.hdr_div_nav_ul_li_div {
    padding-top: 20px;
    display:none;          /*  here Temprory */
}

.hdr_div_nav_ul_li_div_ul {
    border: 1px solid;
    float: left;
    list-style: none;
    height: 300px;
    width: 195px;
    padding-left: 20px;
    padding-top: 10px;
}

.hdr_div_nav_ul_li_div_ul_li {
    line-height: 1.5em;
}

.hdr_div_nav_ul_li_div_ul_li_a {
    text-decoration: none;
    color: #999;
}

.hdr_div_nav_ul_li_div_ul_li_a:hover {
    text-decoration: underline;
}
/*  End Navbar  */



/* Start Main */

/* End Main */



/* Start Footer */
.ftr {
    background-color: #FAFAFA;    
}
.ftr_hr {}

.ftr_div {
    overflow: hidden;
}
.ftr_div_div {
    float: left;
}
.ftr_div_div_h2 {
    font-weight: 1.5em;
}
.ftr_div_div_h2_sup {}

.ftr_div_div_h5 {
     margin: 5px;
}
.ftr_div_div_h5_a {
    text-decoration: none;
     color: #777777;
}
.ftr_div_div_h5_a:hover {
    text-decoration: underline;
}
.ftr_div_div_spn {}
.ftr_div_div_h3 {}

.ftr_div_div_nav {
    padding-right: 100px;
}
.ftr_div_div_nav_ul {
    list-style: none;
    padding: 0;
}
.ftr_div_div_nav_ul_li {}

.ftr_div_div_nav_ul_li_a {
    text-decoration: none;
    line-height: 1.8em;
    color: #777777;
}
.ftr_div_div_nav_ul_li_a:hover {
    text-decoration: underline;
}
.ftr_div_hr {}

.ftr_div_div_ul {
    list-style: none;
    padding: 0;
}
.ftr_div_div_ul_li {
    float: left;
    padding-right: 10px;
}
.ftr_div_div_ul_li_a {
    text-decoration: none;
}
.ftr_div_div_ul_li_a:hover {
    text-decoration: underline;
}
.ftr_div_div_ul_li_a_img {}
/* End Footer */
/* ------------------------------------------- Start Home Page ------------------------------------------------*/


