/* 
BEM — Block Element Modifier 
http://getbem.com/
*/

/* Start Main Rules */
.container {width: 1170px;margin:auto;}

.clearfix {clear: both;}
/* End Main Rules */

/*  Start Navbar  */
.hdr {
}

.hdr_div {
    overflow: hidden;
}

.hdr_hr {
    display: block;
    height: 1px;
    margin: -5px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
}

.hdr_div_div {
    overflow: hidden;
    float: left;
}

.hdr_div_div_h1 {}
.hdr_div_div_input { 
    width: 305px;
    height: 26px;
}

.hdr_div_div_btn {
    margin-left: -5px;
    padding: 7px 15px 7px 15px;
    background-color: #3FCA89;
    color: #FFF;
    border: 1px solid;
    border-top-right-radius: 5px; /* CSS3 */
    border-bottom-right-radius: 5px; /* CSS3 */
}

.hdr_div_div_btn_spn {
    font-weight: bold;
}

.hdr_div_div_nav {
    overflow: hidden;
}

.hdr_div_div_nav_ul {
    overflow: hidden;
    padding-left: 145px;
}

.hdr_div_div_nav_ul_li {
    float: left;
    list-style: none;
    padding-left: 20px;
    padding-top: 20px;
}

.hdr_div_div_nav_ul_li_a {
    text-decoration: none;
    color: #555;
}

.hdr_div_div_nav_ul_li_a:hover {
    color: #999;
}

.hdr_div_div_nav_ul_li_a_spn{
    color: #94E9F5;
}

.hdr_div_div_nav_ul_li_a_spn:hover {
    color: #080;
}

.hdr_div_div_img {
    border-radius: 50%;
    width: 35px;
}

.hdr_div_nav {
    overflow: hidden;
}

.hdr_div_nav_ul {
    overflow: hidden;
    padding-left: 0;
}

.hdr_div_nav_ul_li {
    float: left;
    list-style: none;
    padding: 0px 10px 0px 25px;
    text-decoration: none;
}

.hdr_div_nav_ul_li_a {
    text-decoration: none;
    color: #555;
}

.hdr_div_nav_ul_li_a:hover {
    text-decoration: underline;
}

.hdr_div_nav_ul_li_hr {
    margin-bottom: 0px;
    color: #080;
    display: none; /* Temprory */
}

.hdr_div_nav_ul_li_div {
    padding-top: 10px;
    display: none; /* Temprory */
}

.hdr_div_nav_ul_li_div_ul {
    border: 1px solid;
    float: left;
    list-style: none;
    height: 300px;
    width: 195px;
    padding-left: 20px;
    padding-top: 10px;
}

.hdr_div_nav_ul_li_div_ul_li {
    line-height: 1.5em;
}

.hdr_div_nav_ul_li_div_ul_li_a {
    text-decoration: none;
    color: #999;
}

.hdr_div_nav_ul_li_div_ul_li_a:hover {
    text-decoration: underline;
}
/* Start Modifier */
.-width-10 {width: 10%}
.-width-30 {width: 35%}
.-width-60 {width: 50%}
.-margin-top25 {margin-top: 25px}
/* End Modifier */
/*  End Navbar  */



/* Start Main */

/* End Main */



/* Start Footer */
.ftr {
    background-color: #FAFAFA;    
}
.ftr_hr {}
.ftr_div {
    overflow: hidden;
}
.ftr_div_div {
    float: left;
}
.ftr_div_div_h2 {
    font-weight: 1.5em;
}
.ftr_div_div_h2_sup {}
.ftr_div_div_h5 {
     margin: 5px;
}
.ftr_div_div_h5_a {
    text-decoration: none;
     color: #777777;
}
.ftr_div_div_h5_a:hover {
    text-decoration: underline;
}
.ftr_div_div_spn {}
.ftr_div_div_h3 {}
.ftr_div_div_nav {
    padding-right: 100px;
}
.ftr_div_div_nav_ul {
    list-style: none;
    padding: 0;
}
.ftr_div_div_nav_ul_li {}
.ftr_div_div_nav_ul_li_a {
    text-decoration: none;
    line-height: 1.8em;
    color: #777777;
}
.ftr_div_div_nav_ul_li_a:hover {
    text-decoration: underline;
}
.ftr_div_hr {}
.ftr_div_div_ul {
    list-style: none;
    padding: 0;
}
.ftr_div_div_ul_li {
    float: left;
    padding-right: 10px;
}
.ftr_div_div_ul_li_a {
    text-decoration: none;
}
.ftr_div_div_ul_li_a:hover {
    text-decoration: underline;
}
.ftr_div_div_ul_li_a_img {}
/* Start Modifier */
/* End Modifier */
/* End Footer */



